<div class="control-group">
  <%= f.input_field :name,  placeholder: 'Full Name', class: "input-block-level" %>
</div>

<div class="control-group">
  <%= f.input_field :email,  placeholder: 'Email Address', class: "input-block-level" %>
</div>

<div class="control-group">
  <%= f.input_field :message, type: "textarea",  placeholder: 'Message', size: "3x5", class: "input-block-level" %>
</div>

