

<div class="menu_holder">
  <div class="span5 reseter">
    <h1>Notifies List</h1>
  </div>
  <div class="pull-right ">
    <%= link_to "Notify Person", "#modal", class: "btn btn-large btn-primary", remote: true, role: "button", :"data-toggle"=>"modal" %>
  </div>
</div>

<%= render "list" %>


<%= render "modal" %>



