
<div class="menu_holder">
  <div class="span5 reseter">
    <h1>Notifies List</h1>
  </div>
  <div class="pull-right ">
    <%= link_to "Notify Person", "#form_modal", class: "btn btn-large btn-primary notify_create", :'data-toggle' => "modal", role: "button" %>
  </div>
</div>

<table class="table table-striped notify_table">
  <thead>
    <tr>
      <th>#</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>MESSAGE</th>
      <th>Status</th>
      <th>
        <div class="text-center">
          OPTION
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render "list" %>
  </tbody>
</table>

<%= render "modal" %>

